.athkar{
    background: linear-gradient(#c4dde9, #dddce2);
    background-color: url(images/img-home.jpg) center center/cover
    no-repeat;
    height: 360vh;
    /* width: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: insert 0 0 0 1000px black ;
    object-fit:contain;
    padding-top: 50px;
    
    }
    